$color_primary: #fec12b;

.main-container {
  display: flex;
  height: 100vh;

  .brand-top {
    position: fixed;
    z-index: 999;
    width: 100vw;
    background-color: #fafbfc;
    top: 0;
    height: 60px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    img {
      height: 60px;
      padding: 8px 25px;
    }
    .btn-notices {
      position: absolute;
      right: 25px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  .main-sidebar {
    width: 280px;
    background-color: #fff;
    color: #fff;
    position: relative;
    z-index: 10;
    transition: all 0.3s;
    padding-bottom: 50px;
    margin-top: 60px;
    .login-info {
      color: #343a40;
      font-size: 14px;
      padding: 10px 25px;
      display: flex;
      flex-direction: column;
      gap: 5px;
      border-bottom: 1px solid #e1e1e1;
      background-color: #e5e5e5;
    }
    .app-version {
      position: fixed;
      left: 100px;
      bottom: 20px;
      color: #343a40;
    }
    .main-nav {
      overflow: hidden;
      position: sticky;
      top: 0;
      width: 280px;
      padding: 25px;
      > ul {
        margin-bottom: 20px;
      }
      li {
        list-style: none;
        padding: 2px 0;
        .nav-link {
          cursor: pointer;
          font-size: 15px;
          display: flex;
          align-items: center;
          width: 100%;
          padding-top: 9px;
          padding-bottom: 6px;
          margin: 2px 0;
          transition: all 0.3s;
          color: $color_primary;
          text-decoration: none;
          border-radius: 0.25rem;
          &.title {
            pointer-events: none;
          }
          &:hover {
            background-color: #f2f2f2;
          }
          .parent {
            font-weight: bold;
            text-transform: uppercase;
          }
          &.active {
            background-color: #f2f2f2;
            .text {
              color: $color_primary;
            }
            + ul {
              display: block;
            }
          }
          span {
            &.text {
              padding-bottom: 5px;
              color: #343a40;
            }
          }
        }
        li {
          .nav-link {
            margin: 0;
            padding-left: 30px;
          }
        }
        &.has-children {
          position: relative;
          overflow: hidden;
        }
      }
      .btn-logout {
        width: 100%;
        background-color: $color_primary;
      }
    }
  }
  .main-body {
    width: 100%;
    background-color: #eceef1;
    margin-top: 60px;
    overflow-y: auto;
    .body-top {
      margin: 40px 40px 0 40px;
      padding: 12px;
      background-color: #369be5;
      border-radius: 8px;
      display: inline-block;
      cursor: pointer;
      position: relative;
      &:hover {
        opacity: 0.8;
      }
      .content {
        display: flex;
        align-items: center;
      }
      span,
      svg {
        color: #fff;
      }
    }
    .body__container {
      background-color: white;
      min-height: calc(100% - 120px);
      margin: 30px;
    }
    .app-footer {
      background-color: #fafbfc;
      height: 60px;
      border-left: 1px solid #e9ecef;
      .app-footer__inner {
        height: 100%;
        display: flex;
        align-items: center;
        margin-left: 20px;
      }
    }
  }
}
