.react-select__box {
  .MuiFormControl-root {
    display: flex;
    flex-direction: row;
    align-items: center;
    .MuiFormLabel-root {
      flex: 1;
      font-size: 14px;
    }
    > div {
      flex: 1;
    }
  }
}